h1 {
    color: orange;
    text-align: left;
    font-size: 40px;
    background-color: green;
    text-align: left;
    border-top: thick solid grey;
}
img {
    text-align: center;
}
h2 {
    color: purple;
    border: thin solid #5b5b5b;
    border-top: thick solid grey;
}
h3 {
    color: green;
    border: thin solid goldenrod;
    border-top: thick solid green;
}
body {
    font-family: "Helvetica", sans-serif;
    color: #222;
    line-height: 1.4;
}
ul, ol {
    padding-left: 4em;
}
ul {
    list-style-type: square;
}
p#servings {
    font-style: italic;
    font-weight: 700;
}