.container {
    display: flex;
    justify-content: space-between;
}


img {
    height: 100px;
    width: 100px;
    display: flex;
}
.header {
    font-weight: 900;
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
.items {
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}