.container {
    background: skyblue;
    border: 4px solid indigo;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    background: tomato;
    border: 4px solid maroon;
    height: 80px;
    width: 80px;
    font-weight: bold;
    text-align: center;
}