.odd {
    background-color: rgb(255, 192, 203);
    font-family: verdana, DejaVu Sans, sans-serif;
}
.three {
    font-size: 24px;
}
#two {
    color: #0000ff;
    font-size: 36px;
}
#even {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}
