h1 {
    background-color: cornflowerblue;
    color: white;
    border:red;
    border-top: thick solid saddlebrown;
}
h2 {
    color: sienna;
    border: thin solid green;
    border-top: thick solid sienna;
}
ul, ol {
    padding-left: 4em;
}
#note {
    color: #888;
}
.addition {
    font-family: cursive;
    color: orangered;
    padding-left: 4em;
}
body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.4;
    color: #222;
}
.quantity {
    font-weight: bold;
}