img {
    height: 200px;
    width: 200px;
    margin-bottom: 0px;
}
button {
    color: black;
    background-color: #eeeeee;
}
.items {
    text-align: center;
}
.two, 
.three {
    border-radius: 8px;
    padding: 8px;
}
.one {
    padding: 15px 200px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
}
li {
    display: inline-block;
}
.profile, 
.settings {
    float: right;
    padding: 8px;
}
.about, 
.store {
    float: left;
    padding: 8px;
}
.terms, 
.privacy {
    float: right;
    padding: 8px;
}
.advert, 
.business {
    float: left;
    padding: 8px;
}