body {
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}.footer {
    background-color: #eee;
}
li {
    display: inline-block;
    padding: 20px;
}
img {
    height: 200px;
    width: 200px;
    margin-bottom: 0px;
}
button {
    color: black;
    background-color: #eee;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
}
.items {
    text-align: center;
}
.two, 
.three {
    border-radius: 8px;
    padding: 8px;
}
.one {
    padding: 8px 24px;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid #ddd;
    width: 400px;
}
.profile, 
.settings {
    float: right;
    padding: 8px;
}
.about, 
.store {
    float: left;
    padding: 8px;
}
.advert, 
.business {
    float: left;
    padding: 8px;
}
/*causes an interchange in the right items and a disapearnace of the background color*/
.terms, 
.privacy {
    float: right;
    padding: 8px;
}
