body {
    width: 500px;
    margin: 0 auto;
}
p {
    background-color: pink;
    border: 2px solid purple;
    padding: 10px;
    margin: 10px;
}
span {
    background-color: white;
    border: 1px solid black;
}
