.container {
    font-family: monospace;
    background: papayawhip;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    /* this reomoves the dots on the list items*/
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}
.logo {
    background: white;
    font-weight: 900;
    font-size: 48px;
    color: tomato;
    padding: 4px 32px;
}
a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none;
    /* this removes the line under the links*/
}