.button1 {
    background-color: black;
    color: white;
    font-family: Helvetica, Times New Roman, sans-serif;
    font-size: 28px;
}
.button2 {
    background-color: yellow;
    color: black;
    font-family: Helvetica, Times New Roman, sans-serif;
    font-size: 28px;
}