.container {
    background: hsl(300, 47%, 75%);
    height: 140px;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.item {
    border: 4px solid darkslategray;
    background: skyblue;
    width: 60px;
    height: 60px;
}
.one {
    flex: 1;
}
.two {
    flex: 1;
}
.three {
    flex: 1;
}